@tailwind base;
@tailwind components;
@tailwind utilities;

.srollHide::-webkit-scrollbar {
    width: 0px;
}
.srollHide::-moz-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #171717;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 40px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

